{{#each message}}
  <div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
    <strong>{{heading}}</strong>
    {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/each}}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/product">Product</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Product</li>
  </ol>
</nav>

<form class="row g-3 needs-validation" method="POST" action="/product/addproduct">
  <div class="col-md-6">
    <label for="name">Product Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Product Name" required />
  </div>
  <div class="col-md-6">
    <label for="category">Product Category</label>
    <select class="form-select" id="category" name="category" required>
      {{#each category_option}}
        <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="col-md-6">
    <label for="description">Product Description</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      placeholder="Product Description"
      aria-label="With textarea"
      required
    ></textarea>
  </div>
  <div class="col-md-12">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>