{{#each message}}
  <div class="alert alert-{{type}} alert-dismissible fade show" role="alert">
    <strong>{{heading}}</strong>
    {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/each}}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/supplier">Supplier</a></li>
    <li class="breadcrumb-item"><a href="/supplier/status">Status</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Status</li>
  </ol>
</nav>

{{#each rows}}
  <form class="row g-3 needs-validation" method="POST" action="/supplier/status/editstatus/{{this.id}}">
    <div class="col-md-6">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" value="{{this.name}}" name="name" placeholder="Name" required />
    </div>
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
{{/each}}